html {
    background-color: #1a1a1a;
    color: white;
}

p {
    color: orange;
}

body {
    width: 1000px;
    margin: 20px auto;
    background-color: #a20101;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}
