<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MageBase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <h1>PhilSoc</h1>
        <h2>Is this real life?</h2>
        <p>The Perpetual Odyssey of Life</p>
        
        <button>doorbell</button>
        
        <div id="message-container">
            <p>Log:</p>
        </div>

        <div id="users">
            {% for user in users %}
                {% for post in user.posts%}
                    <h3>{{post.title}}</h3>
                    <h4>{{user.name}}</h4>
                    <p>{{post.body | safe}}</p>
                {% endfor %}
            {% endfor %}
        </div>
        
        <script src="../static/scripts/main.js"></script>
    </body>
</html>
