html {
    background-color: #1a1a1a;
    color: white;
}

body {
    width: 80%;
    margin: 20px auto;
    background-color: #801e0f;
    /*background-color: #a20101;*/
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}


